/* HEADER START */
.header {
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  transition: all 0.4s ease-in-out;
  background: rgba(255, 255, 255, 0.3);
<<<<<<< HEAD
  z-index: 9;
=======
  z-index: 2;
>>>>>>> parent of 8ffede4 (posadka to adminka modx start)
  &.header-js-active {
    background-color: black;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  &.header-js-active .header__logo-img {
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0;
  }
  &.header-js-active .header__logo-img-invers {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
  }

  &.header-js-active .header__nav-link {
    color: white;
    &:hover {
      color: $mycolor2;
    }
  }
  &.header-js-active .social-link {
<<<<<<< HEAD
    border: 2px solid black;
=======
    // border: 2px solid black;
>>>>>>> parent of 8ffede4 (posadka to adminka modx start)

    &:hover {
      border-color: $mycolor2;
    }
    &:hover .social-svg {
      fill: $mycolor2;
    }
  }
  &.header-js-active .social-svg {
    fill: white;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  position: relative;
  &:hover .header__logo-img {
    transform: scale(1.09);
  }
  &:hover .header__logo-img-invers {
    transform: scale(1.09);
  }
}

// .header__logo-svg {
//   transition: all 1s;
//   transition-timing-function: cubic-bezier(.87,1,.6,.19);
//   transform-origin: 50% 50%;
//   :hover {
//     transform: scale(1.05, 1.05);
//     // filter: blur(0.5px);
//      stroke: red; fill: red;
//     transition: all .2s ease-in-out;
//   }
// }

.header__logo-img {
  height: 100px;
  // color: hsl(230, 100%, 95%);
  // animation: lights 5s 750ms linear infinite;
  // animation: filter-animation 7s infinite;
  transition: 0.5s;
  &:hover {
    transform: scale(1.09);
    // filter: blur(0.5px);
    // fill: $myorange;
    // filter: sepia(1) hue-rotate(320deg) saturate(20);
  }
}

.header__logo-img-invers {
  // height: 100px;
  // transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  // &:hover {
  //   transform: scale(1.09);
  // }
}

// .header-js-active img.header__logo-pic {
//   height: 60px;
// }

.header__nav {
  font-weight: 400;
  font-size: 20px;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-link {
  text-transform: uppercase;
  color: black;
  // animation: lights 5s 750ms linear infinite;
  transition: all 300ms linear 0s;
  &:hover {
    color: $mycolor2;
  }
}

<<<<<<< HEAD
=======
.header__social-links {
  @include m1100 {
    margin-bottom: 2em;
  }
}

.burger {
  display: none;
}
//////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
  .header__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .header__social-links {
    z-index: 2;
    margin-bottom: 0;
  }

  .social-svg {
    fill: $mycolor2 !important;
  }

  .social-link {
    border-color: $mycolor2;
  }

  .header.header-js-active {
    .header__logo-img {
      height: 30px;
    }
    // .header__social-links {
    //   margin-bottom: 0;
    //   z-index: 2;
    // }
    .header__nav {
      &::before {
        height: 46px;
      }
    }
  }

  .burger {
    z-index: 3;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    order: 2;
    &::before,
    &::after,
    & span {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background: $mycolor2;
    }
    &::before,
    &::after {
      content: "";
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
    &.jsburger-active span {
      transform: scale(0) translate(0px, -50%);
    }
    &.jsburger-active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }
    &.jsburger-active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }

  .header__logo {
    display: none;
    order: 1;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    // left: -100%;
    transform: translate(-100%, 0px);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 4em 2em 2em;
    transition: all 0.3s ease 0s;
    overflow: auto;
    &.jsburger-active {
      // left: 0;
      transform: translate(0px, 0px);
    }
    &::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 108px;
      // border: 4px solid maroon;
      // background-color: grey;
    }
  }

  .header__nav-list {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2em !important;
  }

  .header__nav-item {
    margin-bottom: 3em;
    flex-wrap: wrap;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .header__nav-link {
    color: $mygrey-lt;
    font-size: 30px;
  }
}

>>>>>>> parent of 8ffede4 (posadka to adminka modx start)
/* HEADER END */
