/* HEADER START */
.header {
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  transition: all 0.4s ease-in-out;
  background: rgba(255, 255, 255, 0.3);
  z-index: 9;
  &.header-js-active {
    background-color: black;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  &.header-js-active .header__logo-img {
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &.header-js-active .header__nav-link {
    color: white;
    &:hover {
      color: $mycolor2;
    }
  }
  &.header-js-active .social-link {
    border: 2px solid black;

    &:hover {
      border-color: $mycolor2;
    }
    &:hover .social-svg {
      fill: $mycolor2;
    }
  }
  &.header-js-active .social-svg {
    fill: white;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  position: relative;
}

// .header__logo-svg {

//   transition: all 1s;
//   transition-timing-function: cubic-bezier(.87,1,.6,.19);
//   transform-origin: 50% 50%;
//   :hover {
//     transform: scale(1.05, 1.05);
//     // filter: blur(0.5px);
//      stroke: red; fill: red;
//     transition: all .2s ease-in-out;
//   }
// }

.header__logo-img {
  height: 100px;
  // color: hsl(230, 100%, 95%);
  // animation: lights 5s 750ms linear infinite;
  // -webkit-animation: filter-animation 0.5s infinite;
  // animation: filter-animation 7s infinite;
  transition: 0.5s;

  &:hover {
    transform: scale(1.09);
    // filter: blur(0.5px);
    // fill: $myorange;
    // filter: sepia(1) hue-rotate(320deg) saturate(20);
  }
}

// .header-js-active img.header__logo-pic {
//   height: 60px;
// }

.header__nav {
  font-weight: 400;
  font-size: 20px;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-link {
  text-transform: uppercase;
  color: black;
  // animation: lights 5s 750ms linear infinite;
  transition: all 300ms linear 0s;
  &:hover {
    color: $mycolor2;
  }
}

/* HEADER END */
