/* INTRO START */

#hero {
  height: 100vh;
  max-width: 100%;
  margin-bottom: 0;
}

.hero__wrapper {
  height: 100%;
  position: relative;
}

.hero__item-title {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: auto;
  --animate-duration: 4s;

  color: $myorange;
  text-align: start;
  // margin-bottom: 50px;
  z-index: 1;
  & span {
    font-size: 100px;
    color: white;
    padding-left: 50px;
  }
}

.hero__items {
}

.hero__item {
  // overflow: hidden;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero__item-img {
  object-fit: cover;
  filter: brightness(40%);
  position: absolute;
  height: 100%;
  width: 100%;
}

.itcss__item_active .hero__item-img {
  animation: kenburns 4s 100ms linear infinite;
}

.itcss__item_active .hero__item-text {
  animation-name: myfadeOut;
  animation-duration: 4s;
}

.hero__item-text {
  width: 60%;
  margin: auto;
  position: absolute;
  top: 70%;
  left: 40%;
  // transform: translate(-50%, -50%);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__item-subtitle {
  font-size: 40px;
  font-weight: inherit;
}

.hero__item-desc {
}

.itcss__indicators {
  bottom: 50px;
}

/* INTRO END */
/* ABOUT START */

#about {
  position: relative;
  // margin-bottom: 100px;
  background: url("@img/bg/bg2.jpg") center center / cover no-repeat fixed #000;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // border: 1px solid orange;
}
.about__wrapper {
  position: relative;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid lime;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5%;
  }
}

.about__img-wrapper {
  flex: $col-6;
  height: 100%;
  // border: 1px solid maroon;
  z-index: 1;
}
.about__img {
  height: 100%;
  object-fit: cover;
  // border: 1px solid goldenrod;
}
.about__text-wrapper {
  flex: $col-6;
  height: 80%;
  padding-top: 10%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about__title {
  color: $mygrey-lt;
  font-size: 32px;
  & > span {
    color: white;
  }
  z-index: 1;
}
.about__subtitle {
  font-size: 50px;
  font-weight: 100;
  text-align: left;
  & > span {
    color: $myorange;
    font-size: 75px;
    text-transform: uppercase;
    padding-left: 10%;
  }
  z-index: 1;
}
.about__desc {
  z-index: 1;
  text-align: center;
  --animate-duration: 2s;
}

/* ABOUT END */
/* PORTFOLIO START */

#portfolio {
  padding-top: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("@img/bg/bg1-new.jpg") scroll;
  // background:  url('@img/bg1-new.jpg') no-repeat center /cover, #000;
  // background-blend-mode: hard-light; //или multiply
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.5);
  //   z-index: 20;
  // }
}

.portfolio__caption {
  margin-bottom: 30px;
}

.portfolio__items {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(160px, 280px));
  grid-gap: 2rem;
  max-height: 300vh;
  ////////////////////////
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  // grid-auto-rows: minmax(360px, 360px);
  // justify-content: center;
  // grid-gap: 0;
  // grid-template-rows: auto minmax(50px, 50vh)
  ////////////////////
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
}

.portfolio__item {
  // flex: $col-3;
  // height: calc(100vw / #{$col} * 3 - #{$gap});
  // grid-template-column: minmax(360px, 360px);
  &:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  &:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  &:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
  &:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  &:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  &:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  &:nth-child(7) {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }
  &:nth-child(8) {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }
  &:nth-child(9) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  &:nth-child(10) {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
  }
  &:nth-child(11) {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }
  &:nth-child(12) {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }
  &:nth-child(13) {
    grid-column: 4 / 5;
    grid-row: 5 / 7;
  }
  &:nth-child(14) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  &:nth-child(15) {
    grid-column: 2 / 4;
    grid-row: 6 / 7;
  }
}

.portfolio__figure {
  position: relative;
  overflow: hidden;
  height: 100%;
  &:hover .portfolio__overlay::before {
    opacity: 1;
  }
  &:hover > .portfolio__overlay {
    opacity: 1;
  }
  &:hover .portfolio__link {
    transform: scale(1);
    &::before {
      top: 20%;
    }
    &::after {
      bottom: 20%;
    }
  }
  &:hover .portfolio__img {
    filter: blur(1px) brightness(90%);
    transform: scale(1.1);
  }
}

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px) brightness(60%);
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}
.portfolio__overlay {
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  left: calc($gap * 0.5);
  top: calc($gap * 0.5);
  width: calc(100% - $gap);
  height: calc(100% - $gap);
  position: absolute;
  opacity: 0;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border: 10px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s linear;
    opacity: 0;
    border-color: rgba(238, 193, 6, 0.7);
  }
}
.portfolio__link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // top: 50%;
  // left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  transition: all 0.6s ease;
  transform: scale(1.5);
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    // left: 0;
    // right: 0;
    top: 10%;
    height: 1px;
    width: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.9s ease 0s;
  }
  &::after {
    content: "";
    position: absolute;
    // left: 0;
    // right: 0;
    bottom: 10%;
    height: 1px;
    width: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.9s ease 0s;
  }
}

/* for touch screen devices */
@media (hover: none) {
  .portfolio__figure {
    & .portfolio__overlay::before {
      opacity: 1;
    }
    & .portfolio__overlay {
      opacity: 1;
    }
    & .portfolio__link {
      transform: scale(1);
      &::before {
        top: 20%;
      }
      &::after {
        bottom: 20%;
      }
    }
    & .portfolio__img {
      filter: blur(1px) brightness(90%);
      transform: scale(1.1);
    }
  }
}

.portfolio__more {
  margin: 50px auto;
}

/* PORTFOLIO END */
/* PARTNERS START */

#partners {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("@img/bg/bg-coop-bw.jpg") center center / cover no-repeat fixed #000;
}

.partners__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.partners__subtitle {
  font-size: 24px;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: $myorange;
  justify-self: left;
}
.partners__title {
  margin-bottom: 100px;
}

.partners__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.partners__item {
  flex: $col-3;
}

.partners__card {
  display: flex;
  flex-direction: column-reverse;
}

.partners__card-link {
  &:hover {
    color: $myorange;
  }
  &:hover ~ .partners__card-svg {
    animation: fadeInOut 0.5s;
    // transform: scale(1.09);
    // filter: blur(0.5px);
    // fill: $myorange;
    // filter: sepia(1) hue-rotate(320deg) saturate(20);
  }
}

.partners__card-svg {
  fill: $myorange;
  margin-bottom: 40px;
  opacity: 1;
  transform: scale(1);
  // color: hsl(230, 100%, 95%);
  // animation: lights 5s 750ms linear infinite;
  // -webkit-animation: filter-animation 0.5s infinite;
  transition: 0.5s;
}

.partners__card-title {
  height: 50px;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 25px;
}
.partners__card-desc {
}
/* PARTNERS END */
/* GALLERY START */

#gallery {
  display: grid;
  place-items: center;
  // min-height: 100vh;
  padding: 0;
  margin: 0;
  // overflow-y: hidden;
  // background: var(--bg);
}

/* GALLERY END */
/* CONTACT START */

#contact {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("@img/bg/bg11-bw.jpg") center center / cover no-repeat fixed #000;
}

.contact-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contact-circle {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate-squares 25s linear infinite;
  bottom: -150px;
  &:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }

  &:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  &:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }

  &:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  &:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }

  &:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }

  &:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }

  &:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  &:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  &:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
}

.contact__container {
  background: transparent;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  display: grid;
  grid-template-rows: minmax(250px, 40vh) 1fr 80px;
  grid-gap: 0;
}

.contact__social-wrapper {
  width: 100%;
  padding: 50px 0;
  // border-top: 1px solid $myorange;
  border-bottom: 1px solid $myorange;
  // margin-top: 5%;
  margin-bottom: 10px;
  color: $myorange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid maroon;
  background: rgba($color: #000, $alpha: 0.5);
}

.contact__title {
  text-transform: uppercase;
  font-size: 40px;
  margin: 40px auto;
}

.contact__social-links {
  // border: 1px solid maroon;
  justify-content: center;
  z-index: 1;
  // margin-bottom: 10px;
  & .social-link {
    width: 80px;
    height: 80px;
    border: 2px solid $mygrey-lt;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    transition: all 300ms linear 0s;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: $myorange;
    }

    & .social-svg {
      width: 50px;
      height: 50px;
      fill: $mygrey-lt;
      transition: 0.3s;
    }
    &:hover .social-svg {
      fill: $myorange;
    }
  }
}

.contact__main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: $mygrey-lt;
}

.contact__main-container {
  // border: 1px solid cyan;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  z-index: 1;
  color: $mygrey-lt;
}

.contact__logo-figure {
  // border: 1px solid lime;
  flex: $col-3;
  padding: 0 10px;
}

.contact__logo-link {
  &:hover > .contact__logo-img {
    transform: scale(1.09);
  }
}

.contact__logo-img {
  height: 120px;
  width: 160px;
  transition: 0.5s;
  margin-bottom: 20px;
}

.contact__logo-desc {
  text-indent: 20px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.contact__works-wrapper {
  margin-top: 10px;
  color: $mygrey-lt;
  flex: $col-6;
  // border: 1px solid olive;
  padding: 0 calc($gap * 0.25);
}
.contact__works-title {
  color: $myorange;
  margin-bottom: 30px;
}

.contact__works-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-auto-rows: 160px;
  grid-gap: $gap * 0.25;
}

.contact__works-figure {
  position: relative;
  overflow: hidden;
  height: 100%;
  &:hover > .contact__works-overlay {
    opacity: 1;
  }
  &:hover .contact__works-link {
    transform: scale(1);
  }
  &:hover .contact__works-img {
    filter: blur(1px) brightness(90%);
    transform: scale(1.1);
  }
}

.contact__works-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px) brightness(60%);
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}
.contact__works-overlay {
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.contact__works-link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  transition: all 0.6s ease;
  transform: scale(1.5);
  z-index: 2;
}

/* for touch screen devices */
@media (hover: none) {
  .contact__works-figure {
    & .contact__works-overlay::before {
      opacity: 1;
    }
    & .contact__works-overlay {
      opacity: 1;
    }
    & .contact__works-link {
      transform: scale(1);
    }
    & .contact__works-img {
      filter: blur(1px) brightness(90%);
      transform: scale(1.1);
    }
  }
}

.contact__links-wrapper {
  margin-top: 10px;
  flex: $col-3;
  // border: 1px solid gold;
  padding: 0 calc($gap * 0.25);
}
.contact__links-title {
  margin-bottom: 30px;
  color: $myorange;
}

.contact__link-li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0;
  display: flex;
  align-items: center;
  transition: 0.3s;

  &:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
    & .contact-link {
      // font-weight: 400;
    }
    & .contact__link-svg {
      // zoom: 1.1;
      fill: white;
    }
  }
}

.contact__link-svg {
  width: 18px;
  height: 18px;
  fill: $mygrey-lt;
  transition: 0.3s;
  // margin-right: 10px;
  transition: 0.3s;
}

.contact-link {
  color: $mygrey-lt;
  text-transform: capitalize;
  transition: 0.3s;
  padding: 10px 0 10px 10px;
}

.contact__footer {
  width: 100%;
  // background: rgba(255, 255, 255, 0.2) ;
  border-top: 1px solid $myorange;
  padding: 1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // filter: brightness(50%);

  & span {
    text-align: center;
    color: $mygrey-lt;
    z-index: 1;
  }
}

/* CONTACT END */
