/* INTRO START */

#hero {
  height: 100vh;
  max-width: 100%;
  margin-bottom: 0;
}

.hero__wrapper {
  height: 100%;
  position: relative;
}

// .hero__logo-img {
//   position: absolute;
//   top: -10%;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   width: 20%;
//   height: 20%;
//   margin: auto;
//   z-index: 1;
//   // color: hsl(230, 100%, 95%);
//   // animation: lights 5s 750ms linear infinite;
//   // -webkit-animation: filter-animation 0.5s infinite;
//   // animation: filter-animation 7s infinite;
//   animation: my-zoomIn-fadeIn 3s;
//   transition: 0.5s;

//   &:hover {
//     transform: scale(1.09);
//     // filter: blur(0.5px);
//     // fill: $myorange;
//     // filter: sepia(1) hue-rotate(320deg) saturate(20);
//   }
// }
.hero__item-title {
  position: absolute;
  top: 50%;
  // left: 65%;
  // width: 50%;
  // text-align: start;
  text-align: center;
  width: 100%;
  left: 50%;
  background: rgb(255, 255, 255, 0.5);
  line-height: 150px;

  transform: translate(-50%, -50%);
  margin: auto;
  --animate-duration: 4s;

  font-family: "brokllyng", sans-serif;
  font-size: 100px;
  color: black;
  padding-left: 50px;
  // margin-bottom: 50px;
  z-index: 1;
  & span {
  }
}

.hero__items {
}

.hero__item {
  // overflow: hidden;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero__item-img {
  object-fit: cover;
  // filter: brightness(40%);
  position: absolute;
  height: 100%;
  width: 100%;
}

.itcss__item_active .hero__item-img {
  animation: kenburns 6s 100ms linear infinite;
}

.itcss__item_active .hero__item-text {
  animation-name: myfadeOut;
  animation-duration: 4s;
}

.hero__item-text {
  width: 60%;
  margin: auto;
  position: absolute;
  top: 70%;
  left: 40%;
  // transform: translate(-50%, -50%);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__item-subtitle {
  font-size: 40px;
  font-weight: inherit;
  color: black;
}

.hero__item-desc {
}

.itcss__control {
  z-index: 1;
}

.itcss__indicators {
  bottom: 50px;
}

/* INTRO END */
/* ABOUT START */

#about {
  position: relative;
  // margin-bottom: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("@img/bg/bg_new_silver.jpg") center center / cover no-repeat fixed $mygrey;
  // background: $mygrey;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.about__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    height: 60%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0%;
  }

  // border: 1px solid orange;
}
.about__wrapper {
  position: relative;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid lime;
  @include m700 {
    flex-direction: column;
    height: 100%;
  }
}

.about__img-wrapper {
  flex: $col-6;
  height: 100%;
  // border: 1px solid maroon;
  z-index: 1;
}
.about__img {
  height: 100%;
  object-fit: cover;
  // border: 1px solid goldenrod; 
}
.about__text-wrapper {
  flex: $col-6;
  height: 80%;
  padding-top: 10%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about__title {
  color: $mygrey-lt;
  font-size: 32px;
  @include adaptiv-value("font-size", 32, 24, 1);
  & > span {
    color: white;
  }
  z-index: 1;
}
.about__subtitle {
  font-size: 50px;
  @include adaptiv-value("font-size", 50, 30, 1);
  font-weight: 100;
  text-align: left;
  & > span {
    color: $mycolor2;
    font-size: 75px;
    @include adaptiv-value("font-size", 75, 40, 1);
    text-transform: uppercase;
    padding-left: 10%;
  }
  z-index: 1;
}
.about__desc {
  z-index: 1;
  text-align: center;
  --animate-duration: 2s;
  & span {
    color: $mygrey-lt;
  }
}

/* ABOUT END */
/* PORTFOLIO START */

#portfolio {
  padding-top: 50px;
  // background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
  background: black;
  // background:  url('@img/bg1-new.jpg') no-repeat center /cover, #000;
  // background-blend-mode: hard-light; //или multiply
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .portfolio__items {
    margin-bottom: $gap * 2;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.5);
  //   z-index: 20;
  // }
}

.portfolio__caption {
  margin-bottom: 60px;
  color: $mycolor2;
}

.portfolio__items {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  // grid-template-rows: 450px 450px;
  grid-gap: $gap;
  // margin-bottom: $gap * 2;
  @include m1440 {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
  @include m1100 {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }
  @include m575 {
    grid-template-columns: minmax(200px, 1fr);
    // grid-template-rows: 1fr;
  }

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
  // align-items: stretch;
  // gap: 1rem;

  // max-height: 300vh;
  ////////////////////////
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  // grid-auto-rows: minmax(360px, 360px);
  // justify-content: center;
  // grid-gap: 0;
  // grid-template-rows: auto minmax(50px, 50vh)
  ////////////////////
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
}

.portfolio__item {
  flex: $col-3;
  display: none;
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    display: inline-block;
    transition: 0.2s ease;
  }
  // flex: $col-3;
  // height: calc(100vw / #{$col} * 3 - #{$gap});
  // grid-template-column: minmax(360px, 360px);
  // &:nth-child(1) {
  //   grid-column: 1 / 2;
  //   grid-row: 1 / 3;
  // }
  // &:nth-child(2) {
  //   grid-column: 2 / 3;
  //   grid-row: 1 / 2;
  // }
  // &:nth-child(3) {
  //   grid-column: 3 / 5;
  //   grid-row: 1 / 2;
  // }
  // &:nth-child(4) {
  //   grid-column: 2 / 4;
  //   grid-row: 2 / 3;
  // }
  // &:nth-child(5) {
  //   grid-column: 4 / 5;
  //   grid-row: 2 / 3;
  // }
  // &:nth-child(6) {
  //   grid-column: 1 / 2;
  //   grid-row: 3 / 4;
  // }
  // &:nth-child(7) {
  //   grid-column: 2 / 3;
  //   grid-row: 3 / 5;
  // }
  // &:nth-child(8) {
  //   grid-column: 3 / 5;
  //   grid-row: 3 / 4;
  // }
  // &:nth-child(9) {
  //   grid-column: 1 / 2;
  //   grid-row: 4 / 5;
  // }
  // &:nth-child(10) {
  //   grid-column: 3 / 5;
  //   grid-row: 4 / 5;
  // }
  // &:nth-child(11) {
  //   grid-column: 1 / 3;
  //   grid-row: 5 / 6;
  // }
  // &:nth-child(12) {
  //   grid-column: 3 / 4;
  //   grid-row: 5 / 6;
  // }
  // &:nth-child(13) {
  //   grid-column: 4 / 5;
  //   grid-row: 5 / 7;
  // }
  // &:nth-child(14) {
  //   grid-column: 1 / 2;
  //   grid-row: 6 / 7;
  // }
  // &:nth-child(15) {
  //   grid-column: 2 / 4;
  //   grid-row: 6 / 7;
  // }
}

.portfolio__figure {
  position: relative;
  overflow: hidden;
  height: 100%;
  &:hover .portfolio__overlay::before {
    opacity: 1;
  }
  &:hover > .portfolio__overlay {
    opacity: 1;
  }
  &:hover .portfolio__link {
    transform: scale(1);
    &::before {
      top: 20%;
    }
    &::after {
      bottom: 20%;
    }
  }
  &:hover .portfolio__img {
    filter: blur(1px) brightness(90%);
    transform: scale(1.1);
  }
}

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // filter: blur(0px) brightness(60%);
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}
.portfolio__overlay {
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  // left: calc($gap * 0.5);
  // top: calc($gap * 0.5);
  // width: calc(100% - $gap);
  // height: calc(100% - $gap);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  margin: auto;

  opacity: 0;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   // border: 10px solid rgba(255, 255, 255, 0.7);
  //   box-sizing: border-box;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1;
  //   transition: all 0.3s linear;
  //   opacity: 0;
  //   // border-color: rgba(238, 193, 6, 0.7);
  // }
}
.portfolio__link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // top: 50%;
  // left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  transition: all 0.6s ease;
  transform: scale(1.5);
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    // left: 0;
    // right: 0;
    top: 10%;
    height: 1px;
    width: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.9s ease 0s;
  }
  &::after {
    content: "";
    position: absolute;
    // left: 0;
    // right: 0;
    bottom: 10%;
    height: 1px;
    width: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.9s ease 0s;
  }
}

/* for touch screen devices */
@media (hover: none) {
  .portfolio__figure {
    & .portfolio__overlay::before {
      opacity: 1;
    }
    & .portfolio__overlay {
      opacity: 1;
    }
    & .portfolio__link {
      transform: scale(1);
      &::before {
        top: 20%;
      }
      &::after {
        bottom: 20%;
      }
    }
    & .portfolio__img {
      filter: blur(1px) brightness(90%);
      transform: scale(1.1);
    }
  }
}

// .portfolio__more {
//   margin: 50px auto;
// }

/* PORTFOLIO END */
/* PARTNERS START */

#partners {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("@img/bg/bg_new_silver.jpg") center center / cover no-repeat fixed #000;
}

.partners__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.partners__subtitle {
  font-size: 24px;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: $mycolor2;
  justify-self: left;
}
.partners__title {
  margin-bottom: 100px;
}

.partners__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.partners__item {
  flex: $col-3;
  @include m1100 {
    flex: $col-6;
    margin-bottom: 2em;
  }
  @include m575 {
    flex: $col-12;
    margin-bottom: 4em;
  }
}

.partners__card {
  display: flex;
  flex-direction: column-reverse;
}

.partners__card-link {
  &:hover {
    color: $mycolor2;
  }
  &:hover ~ .partners__card-svg {
    animation: myfadeInOut 0.5s;
    // transform: scale(1.09);
    // filter: blur(0.5px);
    // fill: $myorange;
    // filter: sepia(1) hue-rotate(320deg) saturate(20);
  }
}

.partners__card-svg {
  fill: $mycolor2;
  margin-bottom: 40px;
  opacity: 1;
  transform: scale(1);
  // color: hsl(230, 100%, 95%);
  // animation: lights 5s 750ms linear infinite;
  // -webkit-animation: filter-animation 0.5s infinite;
  transition: 0.5s;
}

.partners__card-title {
  height: 50px;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 2em;
  @include m1100 {
    margin-bottom: 0;
  }
}

/* PARTNERS END */
/* GALLERY START */

#gallery {
  display: grid;
  place-items: center;
  // min-height: 100vh;
  padding: 0;
  margin: 0;
  // overflow-y: hidden;
  // background: var(--bg);
}

/* GALLERY END */
/* CONTACT START */

#contact {
  position: relative;
  // background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  //   url("@img/bg/bg11-bw.jpg") center center / cover no-repeat fixed #000;
  background: rgba(0, 0, 0, 0.5);
}

// .contact-circles {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }

// .contact-circle {
//   position: absolute;
//   display: block;
//   list-style: none;
//   width: 20px;
//   height: 20px;
//   background: rgba(255, 255, 255, 0.2);
//   animation: myanimate-squares 25s linear infinite;
//   bottom: -150px;
//   &:nth-child(1) {
//     left: 25%;
//     width: 80px;
//     height: 80px;
//     animation-delay: 0s;
//   }

//   &:nth-child(2) {
//     left: 10%;
//     width: 20px;
//     height: 20px;
//     animation-delay: 2s;
//     animation-duration: 12s;
//   }

//   &:nth-child(3) {
//     left: 70%;
//     width: 20px;
//     height: 20px;
//     animation-delay: 4s;
//   }

//   &:nth-child(4) {
//     left: 40%;
//     width: 60px;
//     height: 60px;
//     animation-delay: 0s;
//     animation-duration: 18s;
//   }

//   &:nth-child(5) {
//     left: 65%;
//     width: 20px;
//     height: 20px;
//     animation-delay: 0s;
//   }

//   &:nth-child(6) {
//     left: 75%;
//     width: 110px;
//     height: 110px;
//     animation-delay: 3s;
//   }

//   &:nth-child(7) {
//     left: 35%;
//     width: 150px;
//     height: 150px;
//     animation-delay: 7s;
//   }

//   &:nth-child(8) {
//     left: 50%;
//     width: 25px;
//     height: 25px;
//     animation-delay: 15s;
//     animation-duration: 45s;
//   }

//   &:nth-child(9) {
//     left: 20%;
//     width: 15px;
//     height: 15px;
//     animation-delay: 2s;
//     animation-duration: 35s;
//   }

//   &:nth-child(10) {
//     left: 85%;
//     width: 150px;
//     height: 150px;
//     animation-delay: 0s;
//     animation-duration: 11s;
//   }
// }

.contact__container {
  background: transparent;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  display: grid;
  grid-template-rows: minmax(250px, 40vh) 1fr 80px;
  grid-gap: 0;
}

.contact__social-wrapper {
  width: 100%;
  padding: 50px 0;
  // border-top: 1px solid $myorange;
  border-bottom: 1px solid $mycolor2;
  // margin-top: 5%;
  margin-bottom: 10px;
  color: $mycolor2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid maroon;
  background: rgba($color: #000, $alpha: 0.5);
}

.contact__title {
  text-transform: uppercase;
  font-size: 40px;
  @include adaptiv-value("font-size", 40, 24, 1);
  margin: $gap;
  line-height: 1.5em;
  color: white;
}

.contact__social-links {
  // border: 1px solid maroon;
  justify-content: center;
  z-index: 1;
  // margin-bottom: 10px;

  & .social-link {
    @include adaptiv-value("width", 80, 40, 0);
    @include adaptiv-value("height", 80, 40, 0);
    border: 2px solid $mygrey-lt;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiv-value("margin-right", 100, 20, 0);
    // flex: $col-2;
    transition: all 300ms linear 0s;
    margin-bottom: 20px;
    &:last-child {
      margin-right: 30px;
    }

    &:hover {
      border-color: $mycolor2;
    }

    & .social-svg {
      @include adaptiv-value("width", 50, 20, 0);
      @include adaptiv-value("height", 50, 20, 0);
      fill: $mygrey-lt;
      transition: 0.3s;
    }
    &:hover .social-svg {
      fill: $mycolor2;
    }
    @include m575 {
      // flex: $col-4;
    }
  }
}

.contact__main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: $mygrey-lt;
}

.contact__main-container {
  // border: 1px solid cyan;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  z-index: 1;
  color: $mygrey-lt;
  @include m575 {
    flex-direction: column;
  }
}

.contact__logo-figure {
  // border: 1px solid lime;
  flex: $col-3;
  padding: 0 10px;
}

.contact__logo-link {
  &:hover > .contact__logo-img {
    transform: scale(1.09);
  }
}

.contact__logo-img {
  height: 120px;
  width: 160px;
  transition: 0.5s;
  margin: 0 auto;
  margin-bottom: 2em;
}

.contact__logo-desc {
  text-indent: 20px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
    @include m575 {
      margin-bottom: 2em;
    }
  }
}

.contact__works-wrapper {
  margin-top: 10px;
  color: $mygrey-lt;
  flex: $col-6;
  // border: 1px solid olive;
  padding: 0 calc($gap * 0.25);
}

.contact__works-title {
  color: $mycolor2;
  margin-bottom: 30px;
}

.contact__works-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: repeat(2, 160px);
  grid-auto-rows: 0; /* set height to 0 for autogenerated grid rows */
  overflow-y: hidden; /* hide grid items that overflow */
  grid-gap: $gap * 0.25;
  // @include m1100 {
  //   grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  //   grid-template-rows: repeat(2, 100px);
  // }
}

.contact__works-figure {
  position: relative;
  overflow: hidden;
  height: 100%;
  &:hover > .contact__works-overlay {
    opacity: 1;
  }
  &:hover .contact__works-link {
    transform: scale(1);
  }
  &:hover .contact__works-img {
    filter: blur(1px) brightness(90%);
    transform: scale(1.1);
  }
}

.contact__works-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px) brightness(60%);
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}
.contact__works-overlay {
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
}
.contact__works-link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  transition: all 0.6s ease;
  transform: scale(1.5);
  z-index: 2;
}

/* for touch screen devices */
@media (hover: none) {
  .contact__works-figure {
    & .contact__works-overlay::before {
      opacity: 1;
    }
    & .contact__works-overlay {
      opacity: 1;
    }
    & .contact__works-link {
      transform: scale(1);
    }
    & .contact__works-img {
      filter: blur(1px) brightness(90%);
      transform: scale(1.1);
    }
  }
}

.contact__links-wrapper {
  margin-top: 10px;
  flex: $col-3;
  // border: 1px solid gold;
  padding: 0 calc($gap * 0.25);
}
.contact__links-title {
  margin-bottom: 30px;
  color: $mycolor2;
}

.contact__link-li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0;
  display: flex;
  align-items: center;
  transition: 0.3s;

  &:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
    & .contact-link {
      // font-weight: 400;
    }
    & .contact__link-svg {
      // zoom: 1.1;
      fill: white;
    }
  }
}

.contact__link-svg {
  width: 18px;
  height: 18px;
  fill: $mygrey-lt;
  transition: 0.3s;
  // margin-right: 10px;
  transition: 0.3s;
}

.contact-link {
  color: $mygrey-lt;
  text-transform: capitalize;
  transition: 0.3s;
  padding: 10px 0 10px 10px;
}

.contact__footer {
  width: 100%;
  // background: rgba(255, 255, 255, 0.2) ;
  border-top: 1px solid $mycolor2;
  padding: 1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // filter: brightness(50%);

  & span {
    text-align: center;
    color: $mygrey-lt;
    z-index: 1;
  }
}

/* CONTACT END */
