# Игнорирование логов 
logs 
*.log 

#modx files
assets/
core/
pusti/

# Игнорирование файлов специфичных для IDE 
.vscode/ 

# Папка с оригинальными картинками
#/img/img_orig/
_img_src/

#gulp npm mods
node_modules/
package-lock.json

#templates
*.psd
screen.jpg
tmp/

