@use "sass:math";

@import "block/start";
@import "block/vars";
@import "fonts";
@import "block/animations";

/* общие стили */

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: white;
}
h1,
h2,
h3 {
  line-height: normal;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 100;
  font-style: normal;
}
h1 {
  font-size: 160px;
  line-height: 70px;
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 24px;
  font-weight: normal;
}

a {
  color: white;
}
.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 $gap * 0.5;
  margin: 0 auto;
  @include m1300 {
    max-width: 1200px;
  }
}

section {
  height: 100vh;
  overflow: hidden;
  background: center center / cover no-repeat #000000;
}

.overlay {  
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;  
}

.social-links {
  display: flex;
}

.social-link {
  width: 42px;
  height: 42px;
  border: 2px solid $mygrey-lt;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: all 300ms linear 0s;
  &:hover {
    border-color: $myorange;
  }
  &:hover .social-svg {
    fill: $myorange;
  }
}

.social-svg {
  width: 24px;
  height: 24px;
  fill: $mygrey-lt;
  transition: 0.3s;
}

// @import "../node_modules/t-scroll/sass/t-scroll.min.scss";

@import "block/header";

/* MAIN START */

@import "block/main";

/* MAIN END */

@import "block/footer";

/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */

/* Laptops */
@media only screen and (max-width: 1200px) {
}
/* Tablets, Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}
/* Phones */
@media only screen and (max-width: 575px) {
}
/* Extra Small Devices, old Phones */
@media only screen and (max-width: 480px) {
}
