@use "sass:math";

@import "block/start";
@import "block/vars";
@import "fonts";
@import "block/myanimations";

/* общие стили */

body {
  font-family: "poppins", sans-serif;
  @include adaptiv-value("font-size", 16, 10, 1);
  font-weight: 300;
  @include adaptiv-value("line-height", 30, 20, 1);
  color: white;
  background-color: #000;
  &._lock {
    overflow: hidden;
  }
}
h1,
h2,
h3 {
  line-height: normal;
  text-align: center;
  font-family: josefin;
  font-weight: 100;
  font-style: normal;
}
h1 {
  font-size: 100px;
  @include adaptiv-value("font-size", 100, 40, 1);
  line-height: 70px;
}
h2 {
  font-size: 75px;
  @include adaptiv-value("font-size", 75, 40, 1);
}
h3 {
  font-size: 24px;
  line-height: 1.5em;
  @include adaptiv-value("font-size", 24, 16, 1);

  font-weight: normal;
}

a {
  color: white;
}
.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 $gap * 0.5;
  margin: 0 auto;
  @include m1100 {
    max-width: 1000px;
  }
}

section {
  min-height: 100vh;
  overflow: hidden;
  // background: center center / cover no-repeat #000000;
  // margin-bottom: 50px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

button.more {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $mycolor2;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid $mycolor2;
  transition: all 300ms linear 0s;
  &:hover {
    color: $mycolor2;
    background: rgba(0, 0, 0, 0);
    border: 1px solid $mycolor2;
  }
}

.more-link {
  background: rgba(0, 0, 0, 0);
  color: $mygrey-lt;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 40px;
  border: 1px solid $mygrey-lt;
  transition: all 300ms linear 0s;
  z-index: 1;
  &:hover {
    color: black;
    background: $mycolor2;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em !important;
}
.page-item {
  margin-right: 3rem;
  &:last-child {
    margin-right: 0;
  }
}
.page-link {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0);
  border: 1px solid #333;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  padding: 0.5em 0.51em 0.5em 0.49em;
  font-size: 1em;
  text-align: center;
  line-height: 1.5em;
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  margin-left: -3.4em;
  margin-right: 1em;
  margin-top: 1.2em;
  transition: all 0.3s linear 0s;
  &.page-link-active {
    border-color: $mycolor2;
  }
  &:hover {
    background: $mycolor2;
    color: #000;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  width: 42px;
  height: 42px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  @include adaptiv-value("margin-right", 9, 1, 1);
  transition: all 300ms linear 0s;
  @include m575 {
    width: 36px;
    height: 36px;
    margin-right: 2px;
  }

  &:hover {
    border-color: $mycolor2;
    animation: fadeIn;
    animation-duration: 1s;
  }
  &:hover .social-svg {
    fill: $mycolor2;
  }
}

.social-svg {
  width: 24px;
  height: 24px;
  fill: black;
  transition: 0.3s;
}

// @import "../node_modules/t-scroll/sass/t-scroll.min.scss";

@import "block/header";

/* MAIN START */

@import "block/main";
// @import "block/gsap-slider";

/* MAIN END */

// @import "block/footer";

/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */

/* Laptops */
// @media only screen and (max-width: 1200px) {
// }
// /* Tablets, Medium Devices, Desktops */
// @media only screen and (max-width: 992px) {
// }
// /* Small Devices, Tablets */
// @media only screen and (max-width: 768px) {
// }
// /* Phones */
// @media only screen and (max-width: 575px) {
// }
// /* Extra Small Devices, old Phones */
// @media only screen and (max-width: 480px) {
// }
